body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    main{
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(200, 89%, 14%);
    border-radius: 50%;
    border: 15px solid hsl(61, 70%, 52%);
    #cronoScreen{
        color: white;
    width: 20vw;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    }
    #cronoBtn{
        button{
            background-color: hsl(61, 70%, 52%);
            height: 40px;
            width: 80px;
            border-radius: 10px;
        }
    }
    
    button{
        background-color: hsl(61, 70%, 52%);
        color: hsl(202, 55%, 16%);
        font-weight: bolder;
        height: 40px;
        width: 100px;
        border-radius: 10px;
    }
    }
    #cronoHistorique{
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 60vh;
        width: 30vw;
        background-color: hsl(202, 55%, 16%);
        color: hsl(61, 70%, 52%);
        border: 11px solid hsl(61, 70%, 52%);
        border-radius: 15px;
        span{
            background-color: hsl(61, 70%, 52%);
            color: hsl(202, 55%, 16%);
            height: 40px;
            width: 200px;
            border-radius: 5px;
            font-weight: bolder;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.4rem;
        }
    }
}